---
import '../styles/global.css';
import HandwrittenNote from '../components/HandwrittenNote.astro';

interface Props {
	title: string;
	description: string;
	ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="description" content={description}>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/styles/final-theme.css">
    <link rel="stylesheet" href="/styles/global.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="article">
    <meta property="og:url" content={Astro.url.origin + Astro.url.pathname}>
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    {ogImage && <meta property="og:image" content={Astro.url.origin + ogImage}>}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content={Astro.url.origin + Astro.url.pathname}>
    <meta property="twitter:title" content={title}>
    <meta property="twitter:description" content={description}>
    {ogImage && <meta property="twitter:image" content={Astro.url.origin + ogImage}>}

</head>
<body class="is-lite">
    <HandwrittenNote />
    <div id="theme-toggle" class="theme-toggle">
        <span class="toggle-label">Lite</span>
        <label class="switch">
            <input type="checkbox" id="toggle-input">
            <span class="slider round"></span>
        </label>
        <span class="toggle-label">Think</span>
    </div>
    <slot />
    <script src="/scripts/autotest.js" is:inline></script>
    <script>
        const toggleInput = document.getElementById('toggle-input');
        const body = document.body;

        // Set initial state based on body class
        if (body.classList.contains('is-think')) {
            toggleInput.checked = true;
        }

        if (toggleInput) {
            toggleInput.addEventListener('change', () => {
                if (toggleInput.checked) {
                    body.classList.replace('is-lite', 'is-think');
                } else {
                    body.classList.replace('is-think', 'is-lite');
                }
            });
        }
    </script>
</body>
</html>